.AddTaskButton {
    position: absolute;
    right: 41px;
    bottom: -9px;
    cursor: pointer;
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

.AddTaskButton:active {
    opacity: 50%;
}